<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors</title>
  <style>
	html {
		margin: 0px;
		height: 100%;
	}
	body {
		margin: 0px;
		min-height: 100%;
	}
	.boxtitle {
		width:98%;
		height:38%;
		position:fixed;
		margin-left:1%; 
		margin-top:1%; 
		top:0px;
		left:0px;
	}
	.box {
		width:98%;
		height:58%;
		position:fixed;
		margin-left:1%; 
		top:39%;
		left:0px;
	}
	
	.button {
		-webkit-transition-duration: 0.2s; /* For Safari */
		transition-duration: 0.2s;
		background-color: #504040; 
		border: 2px solid #101010;
		color: #FFEEEE;
		text-align: center;
		font-size: 16px;
		width: 98%;
	}
	
	.button:hover {
		background-color: #908080; 
		color: white;
	}

	.text {
		background-color: #FFFEDD; 
		border: 1px solid #89258c; 
		color: #312533;
		text-align: center;
		font-size: 16px;
		width: 98%;
	}
	
	input:-moz-read-only { /* For Firefox */
		background-color: #F4F4ED;
	}
	
	input:read-only {
		background-color: #F4F4ED;
	}
	
</style>
</head>
<body>
<table class="boxtitle">
    <tr>
        <td><input class='text' type="text" id="LeftName" value="The Left" readonly="true">
        </td>
		<td><input class='text' type="text" id="Result" value="Waiting..." readonly="true">
		</td>
        <td><input class='text' type="text" id="RightName" value="The Right" readonly="true">
        </td>
    </tr>
    <tr>
        <td><input class='text' type="text" id="LeftScore" value="0" readonly="true">
        </td>
		<td><input class='text' type="text" id="GoalScore" value="3" readonly="true">
		</td>
        <td><input class='text' type="text" id="RightScore" value="0" readonly="true">
        </td>
    </tr>
</table>
<table class="box">
    <tr>
        <td> <button class='button' type="button" id="LeftRock">Rock</button> 
        </td>
		<td>
		</td>
        <td>
        </td>
		<td> <button class='button' type="button" id="RightRock">Rock</button> 
        </td>
    </tr>
    <tr>
        <td> <button class='button' type="button" id="LeftPaper">Paper</button> 
        </td>
		<td><input class='text' type="text" id="LeftHandState" value=" " readonly="true">
		</td>
        <td><input class='text' type="text" id="RightHandState" value=" " readonly="true">
        </td>
		<td> <button class='button' type="button" id="RightPaper">Paper</button> 
        </td>
    </tr>
    <tr>
        <td> <button class='button' type="button" id="LeftScissors">Scissors</button> </td>
		<td>
		</td>
        <td>
        </td>
		<td> <button class='button' type="button" id="RightScissors">Scissors</button> </td>
        </td>
    </tr>
</table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://%%CONNECTTO%%/rpslobbie');
	var SIDE='none';
	var STATE= null;
    // Socket events:
    socket.on('connect', function() {
        console.log('socket.id: ', socket.id, ' connected');
        requestSide();
    });

    socket.on('connect_error', (error) => {
      console.log('socket coul not connect');
      console.log(error);
    });

    socket.on('connect_timeout', (timeout) => {
      console.log('socket connection timed out');
      console.log(timeout);
    });

    socket.on('error', (error) => {
      console.log('socket connection error');
      console.log(error);
    });

    socket.on('disconnect', (reason) => {
      console.log('socket.id: ', socket.id, ' disconnected');
      console.log(reason);
    });

    // server events:
    socket.on('stateChanged', function(state) {
		STATE = JSON.parse(state); 
		console.log('server says stateChanged', STATE);
		alterState();
    });

    socket.on('requestedSide', function(id, side, state) {
		if (socket.id=='/rpslobbie#'+id){
			SIDE=side;
			STATE = JSON.parse(state);
			console.log(SIDE, STATE)
			// initialize		
			document.getElementById('RightName').value=STATE.rightname;
			document.getElementById('LeftName').value=STATE.leftname;
			document.getElementById('GoalScore').value=STATE.goalscore;
			if (SIDE=='RIGHT'){
				document.title='RPS-Right';
			}
			if (SIDE=='LEFT'){
				document.title='RPS-Left';
			}
			if (SIDE=='OBSERVER'){
				document.title='RPS-Observer';
			}
			console.log('server says requestedSide',SIDE);
			alterState();
		}
    });
	
	socket.on('noGoodGoalScore', function(id, goodscore) {
		if (socket.id=='/rpslobbie#'+id){
			console.log('server says noGoodGoalScore, got this instead: ', goodscore);
			STATE.goalscore=goodscore;
			document.getElementById('GoalScore').value=STATE.goalscore;
		}
    });

	socket.on('noGoodName', function(id, goodRightName, goodLeftName) {
		if (socket.id=='/rpslobbie#'+id){
			console.log('server says noGoodName, got this instead: ', goodRightName,goodLeftName);
			STATE.rightname=goodRightName;
			document.getElementById('RightName').value=STATE.rightname;
			STATE.leftname=goodLeftName;
			document.getElementById('LeftName').value=STATE.leftname;
		}
    });
	
    // client events:
    function requestSide() {
      console.log('client says requestSide');
      socket.emit('requestSide');
    }

    // document events:
    document.getElementById('RightName').addEventListener("keyup", function (evt) {
		if (STATE != null){
			if (SIDE=='RIGHT'){
				socket.emit('setRightName', document.getElementById('RightName').value);
			}
		}
    });
	
    document.getElementById('LeftName').addEventListener("keyup", function (evt) {
		if (STATE != null){
			if (SIDE=='LEFT'){
				socket.emit('setLeftName', document.getElementById('LeftName').value);
			}
		}
    });
	
    document.getElementById('GoalScore').addEventListener("keyup", function (evt) {
		if (STATE != null){
			if (SIDE=='RIGHT'){
				var gs=document.getElementById('GoalScore').value;
				if (gs.length>0){
					socket.emit('setGoalScore', gs);			
				}
			}
		}
    });
	
	document.getElementById('LeftRock').addEventListener("mouseup", function (evt) {
		registerChoice('Rock', 'Left');
    });

	document.getElementById('LeftPaper').addEventListener("mouseup", function (evt) {
		registerChoice('Paper', 'Left');
    });

	document.getElementById('LeftScissors').addEventListener("mouseup", function (evt) {
		registerChoice('Scissors', 'Left');
    });

	document.getElementById('RightRock').addEventListener("mouseup", function (evt) {
		registerChoice('Rock', 'Right');
    });

	document.getElementById('RightPaper').addEventListener("mouseup", function (evt) {
		registerChoice('Paper', 'Right');
    });

	document.getElementById('RightScissors').addEventListener("mouseup", function (evt) {
		registerChoice('Scissors', 'Right');
    });
	
	function registerChoice(choice, sideneat){
		if (STATE != null){
			socket.emit('Choice', sideneat, choice);
			console.log('client says Choice', sideneat, choice);
		}		
	}

	function alterState(){
		if (STATE != null){
			console.log(SIDE, STATE.gamestate);
			if (STATE.gamestate=='waitingforplayers' || STATE.gamestate=='showingwinner'){
				if (SIDE=='RIGHT'){
					document.getElementById('GoalScore').readOnly=false;
					document.getElementById('RightName').readOnly=false;
					document.getElementById('LeftName').value=STATE.leftname;
				} 
				if (SIDE=='LEFT'){
					document.getElementById('LeftName').readOnly=false;
					document.getElementById('RightName').value=STATE.rightname;
					document.getElementById('GoalScore').value=STATE.goalscore;
				}
				if (SIDE=='OBSERVER'){
					document.getElementById('RightName').value=STATE.rightname;
					document.getElementById('LeftName').value=STATE.leftname;
					document.getElementById('GoalScore').value=STATE.goalscore;
				}
			} else {
				document.getElementById('RightName').readOnly=true;
				document.getElementById('LeftName').readOnly=true;
				document.getElementById('GoalScore').readOnly=true;
			}
			document.getElementById('RightScore').value=STATE.rightwon;
			document.getElementById('LeftScore').value=STATE.leftwon;
			document.getElementById('Result').value=STATE.result;
			document.getElementById('RightHandState').value=STATE.righthand;
			document.getElementById('LeftHandState').value=STATE.lefthand;
		}
	}
  </script>
  
</body>
</html>
